<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="GetReservationSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="GetReservationSoapBinding1" />
                <binding name="TravelItineraryReadSoapBinding">
					<security mode="Transport" >
         
					</security>
				
                </binding>
                <binding name="TravelItineraryReadSoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://webservices.sabre.com" binding="basicHttpBinding"
                bindingConfiguration="GetReservationSoapBinding" contract="GetReservation.GetReservationPortType"
                name="GetReservationPortType" />
            <endpoint address="https://sws-crt.cert.havail.sabre.com" binding="basicHttpBinding"
                bindingConfiguration="TravelItineraryReadSoapBinding" contract="TravelItineraryRead.TravelItineraryReadPortType"
                name="TravelItineraryReadPortType" />
        </client>
    </system.serviceModel>
</configuration>