<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="GetReservationSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="GetReservationSoapBinding1" />
                <binding name="TravelItineraryReadSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="TravelItineraryReadSoapBinding1" />
                <binding name="BargainFinderMaxBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="BargainFinderMaxBinding1" />
                <binding name="SabreCommandLLSSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="SabreCommandLLSSoapBinding1" />
                <binding name="DesignatePrinterSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="DesignatePrinterSoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://webservices.sabre.com" binding="basicHttpBinding"
                bindingConfiguration="GetReservationSoapBinding" contract="GetReservation.GetReservationPortType"
                name="GetReservationPortType" />
            <endpoint address="https://sws-crt.cert.havail.sabre.com" binding="basicHttpBinding"
                bindingConfiguration="TravelItineraryReadSoapBinding" contract="TravelItineraryRead.TravelItineraryReadPortType"
                name="TravelItineraryReadPortType" />
            <endpoint address="https://webservices.havail.sabre.com/websvc"
                binding="basicHttpBinding" bindingConfiguration="BargainFinderMaxBinding"
                contract="BargainFinderMax.BargainFinderMaxPortType" name="BargainFinderMaxPortType" />
            <endpoint address="https://webservices.havail.sabre.com/websvc"
                binding="basicHttpBinding" bindingConfiguration="SabreCommandLLSSoapBinding"
                contract="SabreCommand.SabreCommandLLSPortType" name="SabreCommandLLSPortType" />
            <endpoint address="https://webservices.havail.sabre.com/websvc"
                binding="basicHttpBinding" bindingConfiguration="DesignatePrinterSoapBinding"
                contract="DesignatePrinter.DesignatePrinterPortType" name="DesignatePrinterPortType" />
        </client>
    </system.serviceModel>
</configuration>